# nixpacks.toml

[phases.setup]
# Força bibliotecas do sistema necessárias para compilar coisas do Python/Postgres
nixPkgs = ["gcc", "libpqxx", "zlib", "python314"]

[phases.install]
# Cria o ambiente virtual e instala os pacotes
cmds = [
    "python -m venv .venv",
    ". .venv/bin/activate",
    "pip install -r requirements.txt"
]

[phases.build]
# Roda o collectstatic no momento do build (segurança e performance)
cmds = [
    ". .venv/bin/activate",
    "python manage.py collectstatic --noinput"
]

[start]
# O comando de inicialização usando seu arquivo de config otimizado
cmd = ". .venv/bin/activate && python manage.py migrate && gunicorn core.wsgi:application --config gunicorn_config.py"